<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Preston.Media.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="MusicDiskMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Preston.Media.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="MusicDiskMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Preston.Media.Properties.Settings>
   <setting name="TabBackColor" serializeAs="String">
    <value>255, 192, 128</value>
   </setting>
   <setting name="BurnPath" serializeAs="String">
    <value />
   </setting>
   <setting name="MaximumEmbeddedPictureDimension" serializeAs="String">
    <value>2000</value>
   </setting>
   <setting name="SourceFolder" serializeAs="String">
    <value>D:\Dropbox\Music\</value>
   </setting>
  </Preston.Media.Properties.Settings>
		<MusicDiskMaker.Properties.Settings>
			<setting name="TabBackColor" serializeAs="String">
				<value>255, 192, 128</value>
			</setting>
			<setting name="BurnPath" serializeAs="String">
				<value/>
			</setting>
			<setting name="SourceFolder" serializeAs="String">
				<value>E:\Music\</value>
			</setting>
		</MusicDiskMaker.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Preston.Media.Properties.Settings>
   <setting name="LibraryPath" serializeAs="String">
    <value>D:\Dropbox\Music\</value>
   </setting>
  </Preston.Media.Properties.Settings>
		<MusicDiskMaker.Properties.Settings>
			<setting name="LibraryPath" serializeAs="String">
				<value>\\MediaCenter\SharedDocs\MyMusic</value>
			</setting>
		</MusicDiskMaker.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
